<?xml version='1.0' encoding='UTF-8'?>
<jenkins.mvn.GlobalMavenConfig>
  <settingsProvider class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettingsProvider class="jenkins.mvn.FilePathGlobalSettingsProvider">
    <path>{{ maven_home }}/conf/settings.xml</path>
  </globalSettingsProvider>
</jenkins.mvn.GlobalMavenConfig>